  footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #f8f9fa; /* Cor de fundo opcional */
            padding: 10px; /* Espaçamento opcional */
            text-align: center; /* Centraliza o conteúdo no rodapé */
        }