main {
   margin-bottom: 86px; /* Ajuste o valor conforme necessário */


}

html {
  --body-color: #C9C9C9;
  --header-color: #4F4F4F;
  --header-button: #4F4F4F;
  --color-weekdays: #4F4F4F;
  --box-shadow: #CBD4C2;
  --hover: #e8faed;
  --current-day: #e8f4fa;
  --event-color: #58bae4;
  --modal-event: #e8f4fa;
  --color-day: white;
}

#teste {
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh; /* para garantir a centralização vertical */
    margin: 0;
    background-color: var(--body-color);
}

button {
  width: 100px; /* 75px * 0.75 */
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px; /* 5px * 0.75 */
  border-radius: 5px;
  color: black;
}

#header {
  padding: 20px; /* 10px * 0.75 */
  color: var(--header-color);
  font-size: 22px; /* 26px * 0.75 */
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;

}

#container {
  width: 640px; /* 770px * 0.75 */
  margin-left: 260px;
  margin-top: 10px;
}

#weekdays {
  width: 92%;
  display: flex;
  color: var(--color-weekdays);
}

#weekdays div {
  width: 100px; /* 100px * 0.75 */
  padding: 8px; /* 10px * 0.75 */
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 75px; /* 100px * 0.75 */
  padding: 8px; /* 10px * 0.75 */
  height: 75px; /* 100px * 0.75 */
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-day);
  margin: 4px; /* 5px * 0.75 */
  box-shadow: 0px 0px 3px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}

.day:hover {
  background-color: var(--hover);
}

.day + #currentDay {
  background-color: var(--current-day);
}

.event {
  font-size: 8px; /* 10px * 0.75 */
  padding: 2px; /* 3px * 0.75 */
  background-color: var(--event-color);
  color: white;
  border-radius: 5px;
  max-height: 41px; /* 55px * 0.75 */
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}

#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px; /* 25px * 0.75 */
  background-color: var(--modal-event);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px; /* 350px * 0.75 */
  top: 240px; /* 100px * 0.75 */
  left: calc(50% - 175px); /* 175px * 0.75 */
  position: absolute;
  font-family: sans-serif;
}

#eventTitleInput {
  padding: 8px; /* 10px * 0.75 */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 19px; /* 25px * 0.75 */
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
  border: 2px solid red;
}

#cancelButton, #deleteButton {
  background-color: var(--header-color);
}

#saveButton, #closeButton {
  background-color: var(--header-button);
}

#eventText {
  font-size: 10px; /* 14px * 0.75 */
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}
